:root {
  --primary-blue: rgb(0, 0, 255);
  --secondary-blue: rgb(96, 96, 182);

  --text-primary-light: black;
  --text-primary-dark: white;

  --text-secondary-light: rgb(70, 70, 70);
  --text-secondary-dark: rgb(160, 160, 160);

  --bg-primary-light: white;
  --bg-primary-dark: black;

  --bg-secondary-light: rgb(212, 212, 212);
  --bg-secondary-dark: rgb(34, 34, 34);

  --bg-section-light: rgb(249, 250, 251);
  --bg-section-dark: rgb(156, 163, 175);

  --bg-navbar-light: rgb(236, 240, 245);
  --bg-navbar-dark: black;

  --bg-form-light: rgb(236, 240, 245);
  --bg-form-dark: rgb(66, 59, 59);
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--bg-primary-light);
  --bg-section: var(--bg-section-light);
  --bg-secondary: var(--bg-secondary-light);
  --bg-navbar: var(--bg-navbar-light);
  --bg-form: var(--bg-form-light);
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-section: var(--bg-section-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --bg-navbar: var(--bg-navbar-dark);
  --bg-form: var(--bg-form-dark);
}

.App{
    min-height: 100vh;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

input,label,button,p,span,h1,h2,a{
    color: var(--text-primary);
}

.nav{
    background-color: var(--bg-navbar);
}


.stat-card{
  background-color: var(--bg-section);
}
.form-card{
  background-color: var(--bg-form);
}

.footer{
  background-color: var(--bg-navbar);
}